form {
  background-color: #dddddd;
  padding: 10px;

  input {
    padding: 4px;
    margin-right: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }

  button {
    padding: 4px 17px;
    background-color: #20202d;
    color: white;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
}
